/* penyesuaian CSS */
.list-alamat {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.con-alamat {
    width: 145vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(244, 106, 69, 20%);
    padding: 40px 30px 40px 30px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.con-alamat:hover .btn-delete-address{
    display: flex;
}

.con-alamat.applied {
    border: 1px solid #00B69B;
}

.con-alamat input[type="radio"] {
    margin-right: 10px;
}

.con-alamat a {
    font-size: 12px;
    color: #FF0000;
}

.badge-applied {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #00B69B;
    padding: 5px 5px;
}

.badge-applied p {
    font-size: 12px;
    color: #fff;
}

/* tombol */
.btn-delete-address{
    right: -2%;
    height: 100%;
    display: none;
    justify-content: end;
    cursor: pointer;
    position: absolute;
    align-items: center;
    background-color: red;
    z-index: 1;
}

.btn-delete-address a{
    text-orientation: mixed;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.a-btn-add-alamat{
    margin-top: 40px;
}

.btn-add-alamat, .btn-change {
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.btn-add-alamat {
    background-color: #fff;
    color: #F46A45;
    /* margin-top: 60px; */
}

.btn-add-alamat iconify-icon {
    color: #F46A45;
}

.btn-change {
    background-color: #00B69B;
    color: #fff;
    margin-top: 5px;
}

/* form-alamat */
.input-alamat-1,
.input-alamat-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-alamat-1 input,
.input-alamat-2 input,
.input-alamat-2 select {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
    border: 1px solid #D5D5D5;
}

.input-alamat-1 p,
.input-alamat-2 p {
    font-size: 16px;
    font-weight: 400;
}

.btn-sv-form-alamat {
    width: 100%;
    padding: 12px 0px;
    border: none;
    background-color: #F46A45;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

/* modal */
#deleteModal{
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    position: fixed;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
}
/* modal */