.title-section-edit-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.btn-save-edit-product{
    width: 80px;
    padding: 8px 8px;
    margin: 50px 0px 10px 0px;
    background-color: #F46A45;
    color: #fff;
    border: 1px solid #F46A45;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.container-edit-product{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px 20px;
}

.edit-dshb-sec{
    display: flex;
    background-color: #fff;
}

.wrap-con-liveproduct{
    padding: 30px 0px 0px 0px;
}

.btn-edit-liveproduct{
    writing-mode: vertical-lr;
    width: 40px;
    height: auto;
    background-color: #F46A45;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-edit-liveproduct a{
    text-orientation: mixed;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.head-sec-edit-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 75px 0px 25px;
}

#live{
    font-size: 14px;
    color: #00B69B;
}

#empty{
    font-size: 14px;
    color: #F93C65;
}

.warp-row-edit-product{
    padding: 30px 75px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row1-edit-product{
    display: flex;
    justify-content: space-between;
}

.row2-edit-product{
    display: flex;
    justify-content: space-between;
}

.con-inpt-date{
    display: flex;
    gap: 40px;
}

.from-date,
.until-date{
    display: flex;
    gap: 10px;
}

.row2-edit-product input{
    color: #D5D5D5;
    border: 1px solid #D5D5D5;
}

.row3-edit-product{
    width: 100%;
    border: 0.6px solid #E0E0E0;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.row4-edit-product{
    font-size: 14px;
    font-weight: bold;
}

.row5-edit-product{
    display: flex;
    gap: 120px;
}

.btn-ordernow-dshb-edit-product{
    width: 220px;
    padding: 15px 0px;
    border: 1px solid #F46A45;
    background-color: #fff;
    color: #F46A45;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

#order-empty{
    width: 220px;
    padding: 15px 0px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.con-danger-txt{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    margin-top: 20px;
}

.con-danger-txt iconify-icon{
    color: #FF0000;
}

.danger-txt-edit-product{
    color: #424242;
    font-size: 10px;
    font-weight: 600;
}