/* head-weekly */
.head-weekly{
    display: flex;
    margin: 0 auto;
    padding: 90px 160px;
    gap: 280px;
}

.left-con1 p{
    font-size: 40px;
    font-weight: bold;
}

.cook-it{
    color: #F15E28;
}

.eat{
    color: #FAAA01;
}

.monthly-links{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.monthly{
    list-style: none;
    margin: auto;
    background-color: #FEF9EE;
    padding: 15px 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.selected{
    background-color: #FFB30E;
}

.monthly-links li a{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.month{
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.day{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
/* end-head-weekly */

.container-weekly{
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 0px 160px 90px 160px;
}

.btn-placed-order{
    width: 100%;
    height: 45px;
    background-color: #F46A45;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition-duration: 0.4s;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.btn-placed-order img{
    width: 7px;
    height: auto;
}

.title-week{
    font-size: 30px;
    font-weight: bold;
    color: #FFB30E;
    margin-bottom: 12px;
}

.title-week span{
    color: #353535;
}

.dsc-week{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.img-week-right{
    width: 650px;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
}

.img-week-left{
    width: 650px;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.section-weekly{
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.left-con-week{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 60px;
}

.right-con-week{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 60px;
}

/* responsive-tab */
    @media only screen and (max-width: 835px){
        .head-weekly{
            display: flex;
            flex-direction: column;
            padding: 25px 48px;
            gap: 20px;
            align-items: center;
            text-align: center;
        }

        .left-con1 p{
            font-size: 26px;
        }
    
        .monthly-links{
            max-width: 390px;
            gap: 18px;
        }
    
        .monthly{
            padding: 5px 12px;
        }
    
        .month{
            font-size: 16px;
        }
        
        .day{
            font-size: 22px;
        }
    
        .container-weekly{
            padding: 0px 28px 18px 28px;
        }
    
        /* .section-weekly{
            
        } */
    
        #right{
            display: flex;
            flex-direction: column-reverse;
        }
    
        #left{
            display: flex;
            flex-direction: column;
        }
    
        .txt-con{
            padding-right: 28px;
        }
    
        .title-week{
            font-size: 16px;
        }
    
        .dsc-week{
            font-size: 10px;
        }
    
        .con-img{
            position: relative;
            overflow: hidden;
            height: 220px;
            border-radius: 8px 8px 0px 0px;
        }
    
        .img-week-right,
        .img-week-left{
            position: absolute;
            z-index: -1;
            width: 750px;
            height: auto;
            /* border-radius: 8px 8px 0px 0px; */   
        }
    
        .right-con-week,
        .left-con-week{
            padding: 20px 20px;
            gap: 15px;
        }
    }
/* end-responsive-tab */

/* responsive-phone */
@media only screen and (max-width: 480px){
    .head-weekly{
        display: flex;
        flex-direction: column;
        padding: 25px 48px;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .left-con1 p{
        font-size: 18px;
    }

    .monthly-links{
        max-width: 290px;
        gap: 10px;
    }

    .monthly{
        padding: 5px 12px;
    }

    .month{
        font-size: 12px;
    }
    
    .day{
        font-size: 18px;
    }

    .container-weekly{
        padding: 0px 28px 18px 28px;
    }

    /* .section-weekly{
        
    } */

    #right{
        display: flex;
        flex-direction: column-reverse;
    }

    #left{
        display: flex;
        flex-direction: column;
    }

    .txt-con{
        padding-right: 28px;
    }

    .title-week{
        font-size: 16px;
    }

    .dsc-week{
        font-size: 10px;
    }

    .con-img{
        position: relative;
        overflow: hidden;
        height: 220px;
        border-radius: 8px 8px 0px 0px;
    }

    .img-week-right,
    .img-week-left{
        position: absolute;
        z-index: -1;
        width: 500px;
        height: auto;
        /* border-radius: 8px 8px 0px 0px; */   
    }

    .right-con-week,
    .left-con-week{
        padding: 20px 20px;
        gap: 15px;
    }
}

/* end-responsive-phone */